# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
bin/
.metadata/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Java
*.class
out/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Vim
*.swp
*.swo